@import "/fonts/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
root{
  height: 100%;
}

@font-face {
  font-family: 'Rockville Solid Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Rockville Solid Regular'), url('../public/fonts/Rockville Solid.woff') format('woff');
}

header{
  background-image: url("/slider1.jpg");
}
#banner1{
  background-image: url("/profile1.jpg");
}
#banner2{
  background-image: url("/profile3.jpg");
}
footer{
  background-image: url("/footer-bg.png");
}


